@import 'https://fonts.googleapis.com/css?family=Raleway';

div.container a{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.setColor{
    background: #46344E;
}


.login-container {
    display: flex;
    justify-content: space-evenly;
}

.login-left {
    width: 60%;
}

.login-right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#footer img{
    width: 100%;
}

.login-right-container{
    display: center;
    width: 100%
}
