<app-navigation></app-navigation>

<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="container" style="top: 10%">
      <h3>My Movie Bookings</h3>
      <p></p>                                                                                      
      <div class="table">          
      <table class="table">
        <thead style="background-color: yellow">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Date</th>
                <th>Time</th>
                <th>Place</th>
                <th>Seat</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of arrBooking; let i=index">
                <td>{{i+1}}</td>
                <td>{{booking.Title}}</td>
                <td>{{booking.Date}}</td>
                <td>{{booking.Time}}</td>
                <td>{{booking.Place}}</td>
                <td>{{booking.Seat}}</td>
                <td>{{booking.Price}}</td>
                <td>
                    <button class="fa fa-times" type="button" (click)="deleteBooking(booking.MovieBookingId)" style="background-color: white !important; color: #46344E; font-size: 20px; text-align: center; width: 50px;"></button>
                </td>
            </tr>
        </tbody>        
      </table>
      </div>
    </div>
</body>        
