<app-guest-navigation></app-guest-navigation>
<nav class="navbar navbar-inverse" style="background-color: #46344E; margin: 0 0 0 0"> 
    <button data-toggle="collapse" type="here" data-target="#demo" style="width: 100%; height: 100%; background-color: #46344E; height: 30% !important; color: white">Customize Search</button>
    <div id="demo" class="collapse">
          <input [(ngModel)]="Title" placeholder="Title" style="width:100%" (keyup)="viewBy()">
          <input [(ngModel)]="Place" placeholder="Movie House" style="width:100%" (keyup)="viewBy()">
    </div>
</nav>

<div>
  <div>
    <div id="wrap">
        <form action="" autocomplete="on">
        <input [(ngModel)]="Title" id="search" name="search" type="text" placeholder="What're we looking for ?" style="color: black" (keyup)="viewBy()"><input id="search_submit" value="Rechercher" type="submit" >
        </form>  
    </div>
        
    <section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1" style="left:0">Now Showing</h5>
        

        <div class="row" *ngIf="!searchEmpty">
            <div class="col-md-3" *ngFor="let movie of movies">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');" style="width: 200px;">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">  
                                <p><img class="img-fluid" [src]="setFile(movie.Photo)" style="width:200px; height: 320px"></p>
                            </div>
                        </div>
                        <div class="backside" style="outline-style: groove;  outline-color: #faed26; background-color: black; opacity: 0.8; width: 200px">
                            <div class="card" style="background-color: black; opacity: 0.8">
                                <div class="card-body text-center mt-4">
                                    <h2 class="card-title"><a href={{movie.Details}}>{{movie.Title}}</a></h2>
                                    <p class="card-text"  style="color: white">{{movie.Description}}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>