<nav class="navbar navbar-inverse" style="background-color: #46344E; margin: 0 0 !important">
  <div class="container-fluid" style="height: 10% !important">
      <div class="container setColor borderYtoX" style="width: 100%">
          <ul class="nav navbar-nav navbar-left" >  
            <li>
              <a href="home"><img src="../../../assets/Qoubeegy1.png"  style="border-radius: 50%; width: 33px;"> Qoubeegy</a>
            </li>
            <li>
              <a href="view-movies"> Browse Movies</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="float: right">  
              <li data-toggle="modal" data-target="#modalLoginForm"><a> Sign Up <span class="fa fa-sign-in"></span></a></li>
              <app-signup-page></app-signup-page>
          </ul>
          </div>
  </div>
</nav>